aside {
  &.note, &.warning {
    margin: 16px 0;
    padding: 12px 24px 12px 60px;
    a {
      color: inherit;
      font-weight: bold;
    }
    > p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &.note {
    background-color: $material-color-light-blue-50;
    color: $material-color-light-blue-700;
    &:before {
      color: $material-color-light-blue-600;
      content: 'star';
      float: left;
      font: normal normal normal 24px/1 'Material Icons';
      font-feature-settings: 'liga';
      text-rendering: optimizeLegibility;
      word-wrap: normal;
      margin-left: -36px;
    }
  }
  &.warning {
    background-color: $material-color-deep-orange-50;
    color: $material-color-red-a700;
    &:before {
      color: $material-color-red-a400;
      content: 'warning';
      float: left;
      font: normal normal normal 24px/1 'Material Icons';
      font-feature-settings: 'liga';
      text-rendering: optimizeLegibility;
      word-wrap: normal;
      margin-left: -36px;
    }
  }
}
