@include media-breakpoint-down(md) {
  .mdc-top-app-bar__section + .mdc-top-app-bar__section {
    display: none;
  }
}

.scalingo-toolbar--custom {
  background: $main-gradient;
  color: inherit;
  .mdc-top-app-bar__action-item, .mdc-top-app-bar__navigation-icon {
    color: black;
  }
  .supnav {
    width: 100%;
    background-color: white;
    padding-top: unset;
    padding-bottom: unset;
    z-index: 10;
    height: 64px;
    .container {
      > .flex-row:first-child {
        .scalingo-custom-title {
          &:not(.mdc-button) {
            &:hover {
              color: rgba(0,0,0,.87);
              border-bottom-color: $brand-primary;
            }
          }
        }
      }
    }
  }
  .mdc-button {
    margin-top: 14px;
    margin-bottom: 14px;
    color: white;
  }
  .drawer-opener {
    position: absolute;
    left: 15px;
    top: 0;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    svg {
      height: 24px;
      width: 24px;
    }
  }
  .scalingo-custom-title {
    &:not(.mdc-button) {
      font: 400 14px/60px Roboto, sans-serif;
      color: rgba(0,0,0,.54);
      text-transform: none;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      transition: color .2s;
      letter-spacing: unset;
      &:hover, &:focus {
        color: rgba(0,0,0,.87);
        text-decoration: none;
      }
      &.active {
        color: rgba(0,0,0,.87);
      }
    }
  }
  .brand {
    svg {
      width: auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .scalingo-toolbar--custom {
    .scalingo-custom-title {
      &:not(.mdc-button) {
        // font-size: inherit;
      }
    }
    .brand {
      svg {
        display: block;
        height: 24px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .scalingo-custom-title {
    &:not(.mdc-button) {
      padding: 0 0;
    }
  }
  .scalingo-custom-title {
    margin-left: 20px;
  }
}

@media (min-width: 600px) {
  .scalingo-toolbar--custom {
    .brand {
      svg {
        height: 32px;
      }
    }
  }
}

@media (max-width: 989px) {
  .scalingo-toolbar--custom {
    .brand {
      margin-top: 16px;
      padding-top: 0;
      padding-bottom: 0;
      svg {
        height: 32px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {

  .scalingo-toolbar--custom {
    .scalingo-custom-title {
      &:not(.mdc-button) {
        padding: 0 0;
      }
    }
  }
}
