@include media-breakpoint-down(md) {
  .mdc-toolbar__section + .mdc-toolbar__section {
    display: none;
  }
}

.scalingo-toolbar--custom {
  background: $main-gradient;
  color: inherit;
  .supnav {
    width: 100%;
    background-color: white;
    padding-top: unset;
    padding-bottom: unset;
    z-index: 10;
  }
  .brand {
    svg {
      width: auto;
    }
  }
  .mdc-button {
    margin-top: 14px;
    margin-bottom: 14px;
    color: white;
  }
  .drawer-opener {
    position: absolute;
    left: 15px;
    top: 0;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    svg {
      height: 24px;
      width: 24px;
    }
  }
  .scalingo-custom-title {
    &:not(.mdc-button) {
      font: 400 14px/60px Roboto, sans-serif;
      color: rgba(0,0,0,.54);
      text-transform: none;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      padding: 0 24px;
      margin-left: 0;
      transition: color .2s;
      letter-spacing: unset;
      &:hover, &:focus {
        color: rgba(0,0,0,.87);
        text-decoration: none;
      }
      &.active {
        color: rgba(0,0,0,.87);
        font-weight: 500;
        border-bottom-color: $brand-primary;
      }
    }
  }
  .mdc-toolbar__menu-icon + .mdc-toolbar__title {
    margin-left: 24px;
  }
}

@include media-breakpoint-up(lg) {
  .scalingo-toolbar--custom {
    .scalingo-custom-title {
      &:not(.mdc-button) {
        // font-size: inherit;
      }
    }
    .brand {
      svg {
        display: block;
        height: 24px;
      }
    }
  }
}

@media (min-width: 600px) {
  .scalingo-toolbar--custom {
    .brand {
      svg {
        height: 32px;
      }
    }
  }
}

@media (max-width: 599px) {
  .scalingo-toolbar--custom {
    .supnav {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .brand {
      padding-top: 0;
      padding-bottom: 0;
      svg {
        height: 32px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .scalingo-toolbar--custom {
    .scalingo-custom-title {
      &:not(.mdc-button) {
        padding: 0 16px;
      }
    }
    .mdc-toolbar__menu-icon + .mdc-toolbar__title {
      margin-left: 16px;
    }
  }
}
