$code-color: #37474f;
$code-bg: $material-color-blue-grey-50;
.page-content {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    line-height: 1.1;
  }

  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1.5rem;
  }

  code {
    font: 500 90%/1 Roboto Mono, monospace;
  }

  pre {
    margin: 16px 0;
    overflow-x: auto;
    padding: 8px;
    color: $code-color;
    background-color: $code-bg;
    code {
      font: 14px/20px Roboto Mono, monospace;
    }
  }

  p, li, a {
    > code {
      font-size: inherit;
      color: $code-color;
      background-color: $code-bg;
      padding: 1px 4px;
    }
  }

  a > code {
    text-decoration: none;
  }

  .gist-data {
    height: 400px;
  }

  img {
    display: block;
    margin: 1.5em auto 2em;

    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.fullwidth {
      width: 100%;
    }

    &.halfwidth {
      width: 100%;
    }

    &.side-by-side {
      width: 49%;
      display: inline;
    }

    &.w-40 {
      width: 40%;
      float: left;
      margin: 0.8em 1.5em 1.5em 0;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    border: 0 none;
  }

  blockquote {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 15px 20px;

    p {
      &:before {
        content: "“";
        font-size: 2em;
        line-height: 0.1;
        vertical-align: -0.3em;
        margin-right: 0.1em;
      }

      &:after {
        content: "”";
        font-size: 2em;
        line-height: 0.1;
        vertical-align: -0.3em;
        margin-left: 0.1em;
      }
    }

    footer {
      &::before {
        content: "— ";
      }

      display: block;
      font-size: 80%;
      color: $material-color-grey-600;
    }
  }
}

@media (min-width: 768px) {
  .page-content {
    img {
      &.halfwidth {
        width: 75%;
      }
    }
  }
}
